*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.padding-inline.sm {
  padding-inline: 12px;
}

.padding-inline.normal {
  padding-inline: 16px;
}

.padding-inline.md {
  padding-inline: 24px;
}

.padding-inline.lg {
  padding-inline: 36px;
}

.padding-inline.xl {
  padding-inline: 48px;
}

.padding-inline.xxl {
  padding-inline: 160px;
}

.padding-block.sm {
  padding-block: 12px;
}

.padding-block.normal {
  padding-block: 16px;
}

.padding-block.md {
  padding-block: 24px;
}

.padding-block.lg {
  padding-block: 36px;
}

.padding-block.xl {
  padding-block: 48px;
}

.padding-block.xxl {
  padding-block: 160px;
}

.animation {
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeAnim 0.8s 0.2s both;
}
@keyframes fadeAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn1 {
  color: #f4f4f4;
  background-color: #0e6cff;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
}
.btn1:hover {
  transform: scale(1.02);
}

.btn2 {
  color: #f4f4f4;
  background-color: #ff8700;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
}
.btn2:hover {
  transform: scale(1.02);
}

.btn3 {
  color: #f4f4f4;
  background-color: #4caf50;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
}
.btn3:hover {
  transform: scale(1.02);
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: rgba(115, 2, 59, 0.7411764706);
  margin: 15px;
}

header {
  margin-bottom: 100px;
}
header nav {
  border: none;
  border-radius: 50px;
  box-shadow: 15px 16px 15px 4px rgb(58, 15, 126);
  padding: 10px;
  background-color: #640fc5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav div {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
header nav div img {
  margin-right: 10px;
  width: 60px;
}
header nav div h1 {
  margin-left: 10px;
  color: #28064f;
}
header nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 50px;
}
header nav ul li {
  padding-inline: 25px;
}
header nav ul li:hover {
  transform: scale(1.5);
}
header a {
  text-decoration: none;
  color: #f4f4f4;
}
header .hero-section {
  border: none;
  border-radius: 50px;
  box-shadow: 15px 16px 15px 4px rgb(58, 15, 126);
  background-color: #640fc5;
  color: #28064f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
header .hero-section .hero-text {
  width: 50%;
  padding-inline: 50px;
}
header .hero-section .hero-text h1,
header .hero-section .hero-text p {
  margin-bottom: 15px;
}
header .hero-section img {
  translate: 0 10%;
  border-radius: 30px;
  box-shadow: 15px 16px 15px 4px rgb(58, 15, 126);
  border: 2px solid #9436ff;
}

main .grid-imgs {
  margin-inline: 1rem;
  padding: 2rem 1rem;
  display: flex;
  column-gap: 1.5rem;
}
main .grid-imgs img {
  border-radius: 30px;
  box-shadow: 15px 16px 15px 4px rgb(58, 15, 126);
  border: 2px solid #9436ff;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
