@mixin fadeHero($distance, $duration, $delay) {
  opacity: 0;
  transform: translateY(-#{$distance});
  animation: fadeAnim $duration $delay both;

  @keyframes fadeAnim {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.animation {
  @include fadeHero(30px, 0.8s, 0.2s);
}
