@mixin fadeHero($duration, $start, $end, $delay) {
  opacity: 0;
  transform: translateY(-#{$distance});
  animation: fadeAnim $duration $delay both;

  @keyframes fadeAnim {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
