.btn1 {
  color: $text-color;
  background-color: $btn1-color;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
}
.btn2 {
  color: $text-color;
  background-color: $btn2-color;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
}
.btn3 {
  color: $text-color;
  background-color: $btn3-color;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
}
