.btn1 {
  color: $text-color;
  background-color: $btn1-color;
  border-radius: 5px;
  border: none;
  margin: 3px;
  padding: 10px;
  &:hover {
    transform: scale(1.02);
  }
}
.btn2 {
  color: $text-color;
  background-color: $btn2-color;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 3px;
  &:hover {
    transform: scale(1.02);
  }
}
.btn3 {
  color: $text-color;
  background-color: $btn3-color;
  border-radius: 5px;
  border: none;
  margin: 3px;
  padding: 10px;
  &:hover {
    transform: scale(1.02);
  }
}
