$spacing-sizes: (
  sm: 12px,
  normal: 16px,
  md: 24px,
  lg: 36px,
  xl: 48px,
  xxl: 160px,
);

$display: "inline", "block";
@each $direction in $display {
  @each $size, $value in $spacing-sizes {
    .padding-#{$direction}.#{$size} {
      padding-#{$direction}: $value;
    }
  }
}
