@import "resets";
@import "colors";
@import "fonts";
@import "spacings";
@import "animations";
@import "buttons";
@import "mixins";

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #73023bbd;
  margin: 15px;
}

header {
  margin-bottom: 100px;
  nav {
    border: none;
    border-radius: 50px;
    box-shadow: 15px 16px 15px 4px rgb(58 15 126);
    padding: 10px;
    background-color: $hero-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      margin-left: 100px;
      img {
        margin-right: 10px;
        width: 60px;
      }
      h1 {
        margin-left: 10px;
        color: #28064f;
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      margin-right: 50px;
      li {
        padding-inline: 25px;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: $text-color;
  }
  .hero-section {
    border: none;
    border-radius: 50px;
    box-shadow: 15px 16px 15px 4px rgb(58 15 126);

    background-color: $hero-color;
    color: #28064f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    .hero-text {
      width: 50%;
      padding-inline: 50px;
      h1,
      p {
        margin-bottom: 15px;
      }
    }
    img {
      translate: 0 10%;
      border-radius: 30px;
      box-shadow: 15px 16px 15px 4px rgb(58 15 126);
      border: 2px solid #9436ff;
    }
  }
}

main {
  .grid-imgs {
    margin-inline: 1rem;
    padding: 2rem 1rem;
    display: flex;
    column-gap: 1.5rem;

    img {
      border-radius: 30px;
      box-shadow: 15px 16px 15px 4px rgb(58 15 126);
      border: 2px solid #9436ff;
      width: 100%;
      object-fit: cover;
    }
  }
}
